<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Onlien実行環境Python</h1>
    <form action="" method="POST">

        <!-- コード入力エリア -->
        <div id="editor">
            <textarea name="code" rows="10" cols="50">{{ . }}</textarea>
            <!-- 左右の余白 -->
            <div id="code" class="h-100"></div>
        </div>

        <pre>
            <!-- ここに表示 -->
            {{ . }}
        </pre>

        <!-- 出力表示エリア -->
        <div id="output">
            <button type="submit">実行</button>
        </div>

    </form>
</body>
</html>

